
<section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="#" class="logo"><b>STORETRACKER</b></a>
            <!--logo end-->
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="#">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="#"><img src="assets/ui-sam.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">Toyota</h5>
              	  	
                  <li class="mt">
                      <a class="active" href="javascript:;">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cogs"></i>
                          <span>Components</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class=" fa fa-bar-chart-o"></i>
                          <span>Charts</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
					
						<canvas id="myChart" style="width:100%; height:100%;"></canvas>         
 
          </section>
      </section>

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2014 - Toyota
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section> 

  <script>
  $(document).ready(function(){
		$.getJSON("http://storetracker.herokuapp.com/api/location_points/1", function(data1){
			$.getJSON("http://storetracker.herokuapp.com/api/location_points/2", function(data2){
				$.getJSON("http://storetracker.herokuapp.com/api/location_points/3", function(data3){
					var ctx = document.getElementById("myChart").getContext("2d");
					ctx.canvas.width  = window.innerWidth - 240;
				  ctx.canvas.height = window.innerHeight - 130;

					var options = {
					};

					var intLabels = [];

					for(var i = 0; i < data1.length; i++){
						intLabels[i] = i + 1;
					}

					var chartData = {
				    labels: intLabels,
				    datasets: [
				        {
				            label: "First Beacon",
				            fillColor: "rgba(46, 204, 113,0.0)",
				            strokeColor: "rgba(46, 204, 113,1.0)",
				            pointColor: "rgba(46, 204, 113,1.0)",
				            pointStrokeColor: "#fff",
				            pointHighlightFill: "#fff",
				            pointHighlightStroke: "rgba(46, 204, 113,1.0)",
				            data: data1
				        },
				        {
				            label: "Second Beacon",
				            fillColor: "rgba(52, 152, 219,0.0)",
				            strokeColor: "rgba(52, 152, 219,1.0)",
				            pointColor: "rgba(52, 152, 219,1.0)",
				            pointStrokeColor: "#fff",
				            pointHighlightFill: "#fff",
				            pointHighlightStroke: "rgba(52, 152, 219,1.0)",
				            data: data2
				        },
				        {
				            label: "Third Beacon",
				            fillColor: "rgba(155, 89, 182,0.0)",
				            strokeColor: "rgba(155, 89, 182,1.0)",
				            pointColor: "rgba(155, 89, 182,1.0)",
				            pointStrokeColor: "#fff",
				            pointHighlightFill: "#fff",
				            pointHighlightStroke: "rgba(155, 89, 182,1.0)",
				            data: data3
				        }    
				      ]
					};

					var myLineChart = new Chart(ctx).Line(chartData, options);
				});
			});
		});
	});
  </script>
 
