
<section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="#" class="logo"><b>STORETRACKER</b></a>
            <!--logo end-->
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="#">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="#"><img src="assets/ui-sam.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">Toyota</h5>
              	  	
                  <li class="mt">
                      <a class="active" href="javascript:lineGraph();">
                          <i class="fa fa-dashboard"></i>
                          <span>Line</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:barGraph();" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Bar</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cogs"></i>
                          <span>Radar</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
					
						      
 
          </section>
      </section>

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2014 - Toyota
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section> 

  <script>
  	var lineGraph = function(){
  		$('.wrapper').html('');
  		$('.wrapper').html('<canvas id="myChart" style="width:100%; height:100%;"></canvas>');
  		$.getJSON("http://storetracker.herokuapp.com/api/location_points/1", function(data1){
				$.getJSON("http://storetracker.herokuapp.com/api/location_points/2", function(data2){
					$.getJSON("http://storetracker.herokuapp.com/api/location_points/3", function(data3){
						var ctx = document.getElementById("myChart").getContext("2d");
						ctx.canvas.width  = window.innerWidth - 240;
					  ctx.canvas.height = window.innerHeight - 130;

						var options = {
						};

						var intLabels = [];

						for(var i = -1; i < data1.length; i++){
							intLabels[i] = i + 1;
						}

						var chartData = {
					    labels: intLabels,
					    datasets: [
					        {
					            label: "First Beacon",
					            fillColor: "rgba(44, 62, 80,0.2)",
					            strokeColor: "rgba(44, 62, 80,1.0)",
					            pointColor: "rgba(44, 62, 80,1.0)",
					            pointStrokeColor: "#fff",
					            pointHighlightFill: "#fff",
					            pointHighlightStroke: "rgba(44, 62, 80,1.0)",
					            data: data1
					        },
					        {
					            label: "Second Beacon",
					            fillColor: "rgba(231, 76, 60,0.2)",
					            strokeColor: "rgba(231, 76, 60,1.0)",
					            pointColor: "rgba(231, 76, 60,1.0)",
					            pointStrokeColor: "#fff",
					            pointHighlightFill: "#fff",
					            pointHighlightStroke: "rgba(231, 76, 60,1.0)",
					            data: data2
					        },
					        {
					            label: "Third Beacon",
					            fillColor: "rgba(52, 152, 219,0.2)",
					            strokeColor: "rgba(52, 152, 219,1.0)",
					            pointColor: "rgba(52, 152, 219,1.0)",
					            pointStrokeColor: "#fff",
					            pointHighlightFill: "#fff",
					            pointHighlightStroke: "rgba(52, 152, 219,1.0)",
					            data: data3
					        }    
					      ]
						};

						var myLineChart = new Chart(ctx).Line(chartData, options);
					});
				});
			});
  	}

  	var barGraph = function(){
  		$('.wrapper').html('');
  		$('.wrapper').html('<canvas id="myChart" style="width:100%; height:100%;"></canvas>');
  		$.getJSON("http://storetracker.herokuapp.com/api/location_points/1", function(data1){
				$.getJSON("http://storetracker.herokuapp.com/api/location_points/2", function(data2){
					$.getJSON("http://storetracker.herokuapp.com/api/location_points/3", function(data3){
						var ctx = document.getElementById("myChart").getContext("2d");
						ctx.canvas.width  = window.innerWidth - 240;
					  ctx.canvas.height = window.innerHeight - 130;

						var options = {
						};

						function lessThanFour(x){
							return x <= 4;
						}

						var intLabels = ['Today'];

						var chartData = {
					    labels: intLabels,
					    datasets: [
					        {
					            label: "First Beacon",
					            fillColor: "rgba(44, 62, 80,0.2)",
					            strokeColor: "rgba(44, 62, 80,1.0)",
					            highlightFill: "#fff",
					            highlightStroke: "rgba(44, 62, 80,1.0)",
					            data: [data1.filter(lessThanFour).length]
					        },
					        {
					            label: "Second Beacon",
					            fillColor: "rgba(231, 76, 60,0.2)",
					            strokeColor: "rgba(231, 76, 60,1.0)",
					            highlightFill: "#fff",
					            highlightStroke: "rgba(231, 76, 60,1.0)",
					            data: [data2.filter(lessThanFour).length]
					        },
					        {
					            label: "Third Beacon",
					            fillColor: "rgba(52, 152, 219,0.2)",
					            strokeColor: "rgba(52, 152, 219,1.0)",
					            highlightFill: "#fff",
					            highlightStroke: "rgba(52, 152, 219,1.0)",
					            data: [data3.filter(lessThanFour).length]
					        }    
					      ]
						};

						var myBarChart = new Chart(ctx).Bar(chartData, options);
					});
				});
			});  		
  	}


  	var barGraph = function(){
  		$('.wrapper').html('');
  		$('.wrapper').html('<canvas id="myChart" style="width:100%; height:100%;"></canvas>');
  		$.getJSON("http://storetracker.herokuapp.com/api/location_points/1", function(data1){
				$.getJSON("http://storetracker.herokuapp.com/api/location_points/2", function(data2){
					$.getJSON("http://storetracker.herokuapp.com/api/location_points/3", function(data3){
						var ctx = document.getElementById("myChart").getContext("2d");
						ctx.canvas.width  = window.innerWidth - 240;
					  ctx.canvas.height = window.innerHeight - 130;

						var options = {
						};

						function lessThanFour(x){
							return x <= 4;
						}

						var intLabels = ['First Beacon', 'Second Beacon', 'Third Beacon'];

						var chartData = {
					    labels: intLabels,
					    datasets: [
					        {
					            label: "First Beacon",
					            fillColor: "rgba(44, 62, 80,0.2)",
					            strokeColor: "rgba(44, 62, 80,1.0)",
					            highlightFill: "#fff",
					            highlightStroke: "rgba(44, 62, 80,1.0)",
					            data: [data1.filter(lessThanFour).length, data2.filter(lessThanFour).length, data3.filter(lessThanFour).length]
					        }
					      ]
						};

						var myRadarChart = new Chart(ctx).Radar(chartData, options);
					});
				});
			});  		
  	}
  </script>

  <script>
  $(document).ready(function(){
		lineGraph();
	});
  </script>
 
